# Optional logging settings, uncomment one of these example lines or add your own.
# See comments after each for more info.
# Default: "btcexp:app,btcexp:error"
#DEBUG=*  # Enable all logging, including middleware
#DEBUG=btcexp:*  # Enable all logging specific to btc-rpc-explorer
#DEBUG=btcexp:app,btcexp:error  # Default

# The active coin. Only officially supported value is "BZX".
# Default: BZX
#BZXEXP_COIN=BZX

# Host/Port to bind to
# Defaults: shown
BZXEXP_HOST=51.77.145.35
BZXEXP_PORT=3002

# Bitcoin RPC Credentials (URI -OR- HOST/PORT/USER/PASS)
# Defaults:
#   - [host/port]: 127.0.0.1:29201
#   - [username/password]: none
#   - cookie: '~/.bitcoin/.cookie'
#   - timeout: 5000 (ms)
BZXEXP_BITCOIND_URI=bitcoin://11112222:33334444@127.0.0.1:29201?timeout=10000
BZXEXP_BITCOIND_HOST=127.0.0.1
BZXEXP_BITCOIND_PORT=29201
BZXEXP_BITCOIND_USER=11112222
BZXEXP_BITCOIND_PASS=33334444
#BZXEXP_BITCOIND_COOKIE=/path/to/bitcoind/.cookie
BZXEXP_BITCOIND_RPC_TIMEOUT=5000

# Select optional "address API" to display address tx lists and balances
# Options: electrumx, blockchain.com, blockchair.com, blockcypher.com
# If electrumx set, the BZXEXP_ELECTRUMX_SERVERS variable must also be
# set.
# Default: none
#BZXEXP_ADDRESS_API=(electrumx|blockchain.com|blockcypher.com)

# Optional ElectrumX Servers. See BZXEXP_ADDRESS_API. This value is only
# used if BZXEXP_ADDRESS_API=electrumx
#BZXEXP_ELECTRUMX_SERVERS=tls://electrumx.server.com:50002,tcp://127.0.0.1:50001,...

# Set number of concurrent RPC requests. Should be lower than your node's "rpcworkqueue" value.
# Note that Bitcoin Core's default rpcworkqueue=16.
# Default: 10
#BZXEXP_RPC_CONCURRENCY=10

# Disable app's in-memory RPC caching to reduce memory usage
# Default: false (i.e. in-memory cache **enabled**)
#BZXEXP_NO_INMEMORY_RPC_CACHE=true

# Optional redis server for RPC caching
# Default: none
#BZXEXP_REDIS_URL=redis://localhost:6379

# Default: hash of credentials
#BZXEXP_COOKIE_SECRET=0000aaaafffffgggggg

# Whether public-demo aspects of the site are active
# Default: false
#BZXEXP_DEMO=true

# Privacy mode disables:
# Exchange-rate queries, IP-geolocation queries
# Default: false
#BZXEXP_PRIVACY_MODE=true

# Don't request currency exchange rates
# Default: true (i.e. no exchange-rate queries made)
#BZXEXP_NO_RATES=true

# Password protection for site via basic auth (enter any username, only the password is checked)
# Default: none
#BZXEXP_BASIC_AUTH_PASSWORD=mypassword

# Enable to allow access to all RPC methods
# Default: false
#BZXEXP_RPC_ALLOWALL=true

# Custom RPC method blacklist
# Default: (see config.js)
#BZXEXP_RPC_BLACKLIST=signrawtransaction,sendtoaddress,stop,...

# Optional API keys
# Default: none
#BZXEXP_GANALYTICS_TRACKING=UA-XXXX-X
#BZXEXP_SENTRY_URL=https://00000fffffff@sentry.io/XXXX
#BZXEXP_IPSTACK_APIKEY=000000fffffaaaaa

# Optional value for "max_old_space_size"
# Default: 1024
#BZXEXP_OLD_SPACE_MAX_SIZE=2048

# Show tools list in a sub-nav at top of screen
# Default: true
BZXEXP_UI_SHOW_TOOLS_SUBHEADER=true
